<ion-content class="ion-padding">

  <ion-grid class="ion-justify-content-start">
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <ion-label>Iniciar Sesión</ion-label>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
  </ion-grid>


  
  <div class="ion-padding">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="ion-padding">
        <ion-item>
          <ion-label position="floating">Correo <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="correo" type="text" ngModel required #txtEmail></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="password" type="password" ngModel required #txtPass></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding">
      <ion-button  block (click)="login(txtEmail.value, txtPass.value)" size="large" type="submit"  expand="block">
        Ingresar
      </ion-button>
    </div>
    </form>
  </div>

</ion-content>
