<ion-header>
  <ion-toolbar>
    <ion-title>Cambio Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Correo <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="correo" type="text" ngModel required #txtEmail></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Contraseña<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="password" type="password" ngModel required #txtPass></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
  <ion-item>
      <ion-label position="floating">Nueva Contraseña<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="password" type="password" ngModel required #txtPass></ion-input>
    </ion-item>
  </div>
<div class="ion-padding">
<ion-button  block (click)="realizarPago(txtCuenta.value, txtTrannsfer.value)" size="large" type="submit"  expand="block">
  Realizar
</ion-button>
</div>
</ion-content>
