<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="carrito()">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <div class="slide">
        <img [src]="link" />
        <h2>{{usuario.nombre}}&nbsp;&nbsp;{{usuario.apellido}}</h2>
        <h7>Numero Cuenta: {{usuario.ncuenta}}</h7>
        <br />
        <h4>Saldo: {{usuario.saldo}}</h4>
        <ion-list>
        <ion-item *ngFor="let credito of creditos">
          <h9>Codigo Credito: {{credito.codigo}}&nbsp;&nbsp;|&nbsp;&nbsp; Momto Credito: {{credito.monto}}&nbsp;|&nbsp;&nbsp;Saldo: {{credito.saldo}}&nbsp;&nbsp;| </h9>
        </ion-item>
        </ion-list>
        <br>
        <ion-list>
          <ion-item *ngFor="let pago of pagos">
            <h9>#Pago: {{pago.numeroPago}}&nbsp;&nbsp;{{pago.fechaPago}}&nbsp;|EstadoPago: {{pago.estado}}<br><h5>Saldo: {{pago.saldo}} </h5></h9>
          </ion-item>
          </ion-list>
        <br>
        <ion-button (click)="pasarpag()" expand="block" color="dark" shape="round">
          Realizar Transaccciones
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>


</ion-content>