<ion-header>
  <ion-toolbar>
    <ion-title>Transferencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <ion-item>
    <ion-label position="floating">Cuenta Destino <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required Name="destino" type="text" ngModel required #txtCuenta></ion-input>
  </ion-item>
</div>
<div class="ion-padding">
  <ion-item>
  <ion-label position="floating">Monto Transferencia<ion-text color="danger">*</ion-text></ion-label>
  <ion-input required Name="transfer" type="text" ngModel required #txtTrannsfer></ion-input>
</ion-item>
</div>
<div class="ion-padding">
<ion-button (click)="realizarPago(txtCuenta.value, txtTrannsfer.value)" size="large" expand="block">
  Realizar Transferencia
</ion-button>
</div>
<div class="ion-padding">
  <ion-button  (click)="Regresar()" size="large" expand="block">
    Regresar
  </ion-button>
  </div>
</ion-content>
